{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/relax.png" class="d-block w-100" alt="Relax">
                <!-- <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and laptop"> -->
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Scott's Bed and Breakfast!</h1>
                <p>
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember. A nice selection of different rooms: Ocean view, park view, all with luxury room service available. For the active folks, there are many on-site or nearby activities to choose from. Or perhaps you may choose to just relax in your luxury room with room service or read a book by the pool.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>

            </div>
        </div>

    </div>
{{end}}
